.solver {
    
}

.solver .formTable{
    margin: auto;
}

.solver .input {
    resize: none;
    width: 15em;
    height: 15em;
}

.solver .analysis{
    margin: auto;
}

/* Solved Puzzle */
.solver .solvedPuzzle {
    margin: auto;
    border-spacing: 0px !important;
}

.solver .solvedPuzzle  td {
    height:3em;
    width:3em;
    border:1px solid;
    text-align:center;
    margin: 0px;
}

.solver .solvedPuzzle  td:first-child {
    border-left:solid;
}

.solver .solvedPuzzle  td:nth-child(3n) {
    border-right:solid ;
}

.solver .solvedPuzzle  tr:first-child {
    border-top:solid;
}

.solver .solvedPuzzle tr:nth-child(3n) td {
    border-bottom: solid .25em;
}

.solver .solvedPuzzle td:nth-child(3n) {
    border-right: solid .25em;
}

.solver .solvedPuzzle td:last-child {
    border-right: solid 1px !important;
}

.solver .solvedPuzzle tr:last-child td {
    border-bottom: solid 1px !important;
}
  
.solver .moves{
    margin: auto;
    
}
