
.puzzle {
    margin: auto;
    border-spacing: 0px !important;
}
 
.puzzle  td {
    height:3em;
    width:3em;
    border:1px solid;
    text-align:center;
    margin: 0px;
}

.puzzle  td:first-child {
    border-left:solid;
}

.puzzle td:nth-child(3n) {
    border-right:solid ;
}

.puzzle tr:first-child {
    border-top:solid;
}

.puzzle tr:nth-child(3n) td {
    border-bottom: solid .25em;
}

.puzzle td:nth-child(3n) {
    border-right: solid .25em;
}

.puzzle td:last-child {
    border-right: solid 1px !important;
}

.puzzle tr:last-child td {
    border-bottom: solid 1px !important;
}